[Desktop Entry]
Name=Zimbra Desktop
Type=Application
Comment=Web Application
Exec="@install.app.root@/linux/zdrun.pl" 
Icon=@install.app.root@/linux/node-webkit/img/launcher_32x32.png
